$borderRadius: 21px;
$color_link: #596059;
$transition: ease-in-out all .3s;
$color: #2b7;
$bgColor: linear-gradient(173deg, #dae786 0%, $color 100%);



// @mixin linc {
//   font-size: 14px;
//   line-height: 13px;
//   color: $color;
// }