:root {
  --border-radius: 21px;
  --color-link: #596059;
  --transition: ease-in-out all .3s;
  --color: #2b7;
  --bg-color: linear-gradient(173deg, #dae786 0%, var(--color) 100%);
  --white: #fff;
  --bg-white: #ffffff;
  --text-color: #596059;
  --body-bg: #E6ECE5;
  --box-shadow-btn: #22bb772b 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

/* Тёмная тема */
body.dark-theme {
  --color-link: #ccc;
  --color: #22BB77;
  --bg-color: linear-gradient(173deg, #333 0%, var(--color) 100%);
  --white: #fff;
  --bg-white: #596059;
  --text-color: #fff;
  --body-bg: #343a40;
  --color-link: #2b7;
  --box-shadow-btn: #343a40 6px 2px 16px 0px,
    #343a40 -6px -2px 16px 0px;
}



$borderRadius: 21px;
$color_link: var(--color-link);
$transition: ease-in-out all .3s;
$color: var(--color);
$bgColor: var(--bg-color);
//$white: var(--white);
$bgwhite: var(--bg-white);
$text-color: var(--text-color);
$bodyBg: var(--body-bg);
$btnShadow: var(--box-shadow-btn);



// @mixin linc {
//   font-size: 14px;
//   line-height: 13px;
//   color: $color;
// }