// Переопределения переменных ДО импорта Bootstrap
@import "variables.scss";

// Подключаем весь Bootstrap
@import "./bootstrap/bootstrap.scss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");


//media
@import "./media";


@import "./custom_var";
@import "./btncrm";
@import "./table";


//object
@import "./object";

body {
  font-family: "Montserrat", sans-serif;
  color: #596059;
  letter-spacing: 0.03em;
}



.inputbox {
  display: grid;

  // .custom_date {
  //   display: flex;
  //   justify-content: space-between;
  //   border-radius: $borderRadius;
  //   background: #e6ece5;
  //   padding: 5px;

  //   input[type="date"] {
  //     max-width: 110px;
  //     appearance: none;
  //     background: #e6ece5;
  //     border: 0;
  //     border-radius: $borderRadius;
  //   }

  //   input:focus {
  //     outline: none;
  //     border-color: #4a90e2;
  //     box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.2);
  //   }

}


.form-label {
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.03em;
}

.input_castom {
  position: relative;
  display: inline-block;
  background: #e6ece5;
  border-radius: $borderRadius;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;

  .castominput {
    border-radius: $borderRadius;
    padding: 5px 15px;
    width: 88%;
    background: #e6ece5;
    border: 0;
  }

  .btn_icon {
    flex: 1;
    height: -webkit-fill-available;
    background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 20V17.48L17.18 4.28802C17.2833 4.19668 17.3967 4.12602 17.52 4.07602C17.6433 4.02602 17.7723 4.00068 17.907 4.00002C18.0417 3.99935 18.1717 4.02068 18.297 4.06402C18.4237 4.10602 18.5403 4.18201 18.647 4.29201L19.714 5.36602C19.824 5.47202 19.8993 5.58868 19.94 5.71602C19.98 5.84268 20 5.96935 20 6.09602C20 6.23202 19.9773 6.36202 19.932 6.48602C19.886 6.60935 19.8133 6.72235 19.714 6.82502L6.519 20H4ZM17.504 7.58902L19 6.11102L17.889 5.00002L16.412 6.49602L17.504 7.58902Z" fill="%23596059"/><path d="M3 22L18 22" stroke="%23596059" stroke-linecap="round"/></svg>');
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: right 8px center;
    background-color: rgba(255, 222, 173, 0);
    border: 0;
    transition: $transition;

    &:hover {
      transition: $transition;
      background-color: $color;
    }
  }
}



.item_container {
  max-width: 100%;
  display: flex;
  gap: 1.5rem;
  height: 100vh;
  padding: 1rem;
  overflow: hidden;

  @include _1024 {
    display: grid;
    height: auto;
  }

  @include _480 {
    margin-bottom: 4rem;
  }
}

.sidebar {
  transition: all 0.3s ease;
  padding: 1rem;
  padding-left: 1.2rem;
  max-width: 329px;
  flex-shrink: 0;
  background-color: $white;
  border-radius: $borderRadius;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include _1024 {
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center
  }

  @include _480 {
    display: none;
  }

  .menu_btn_close_mob {
    position: absolute;
    top: 3%;
    right: 5%;
    background: $bgColor;
    padding: .2rem;
    border-radius: 50%;
    margin: 0 auto;
    height: 45px;
    width: 45px;
    border: 0px;
    display: none;


    @include _480 {
      display: block;
    }
  }

  //LOGO
  .logo_box {
    max-width: 100%;
    height: 56px;
    overflow: hidden;
    position: relative;
    margin-bottom: 2.5rem;

    @include _1024 {
      margin-bottom: 0;
      height: auto;
    }

    .logo_img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;

      @include _1024 {
        display: none;
        margin-bottom: 0;
      }
    }

    .logo_img_mob {
      display: none;

      @include _1024 {
        display: block;
      }
    }
  }

  .btn_menu {
    position: absolute;
    border: 0;
    background-color: $white;
    left: 96%;
    top: 15%;
    height: 4.5rem;
    border-radius: 0px 35px 35px 0;

    @include _1024 {
      display: none;
    }

    // &:hover {
    //   transform: scale(1.1);
    // }

    // img {
    //   width: 1.6rem; // масштаб иконки внутри
    //   height: 1.6rem;
    // }

    .icon-container {
      width: 30px;
      height: 30px;
      position: relative;
      cursor: pointer;
    }

    .dots-icon,
    .arrow-icon {
      position: absolute;
      top: 0;
      left: 0;
      transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .arrow-icon {
      opacity: 0;
      transform: translateX(-10px);
    }

    .icon-container:hover .dots-icon {
      opacity: 0;
      transform: translateX(10px);
    }

    .icon-container:hover .arrow-icon {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .menu {
    flex: 1;
    margin-bottom: 0.5rem;
    position: relative;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #46c47a #46c47a00;

    @include _1024 {
      margin-bottom: 0;
    }

    // WebKit (Chrome, Safari)
    &::-webkit-scrollbar {
      width: 1px;
      transition: opacity 0.3s;
      opacity: 0; // скрыт по умолчанию
    }

    &:hover::-webkit-scrollbar {
      opacity: 1; // появляется при наведении
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.15);
      border-radius: 4px;
    }


    ul {
      padding: 0;
      display: grid;
      gap: .3rem;

      @include _1024 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 0px;
      }

      @include _480 {
        display: grid;
        justify-content: start;
        padding: 1px;
      }

      .active {
        transition: ease-in-out all 0.3s;
        background: linear-gradient(178deg, $color 0%, #dae888 100%);
        color: $white;

        img {
          filter: brightness(0) invert(1) sepia(1) hue-rotate(180deg);
        }
      }

      li {
        &::marker {
          content: '';
        }

        a {
          padding: .5rem;
          border-radius: $borderRadius;
          transition: ease-in-out all 0.3s;
          display: grid;
          gap: .5rem;
          grid-template-columns: 24px 1fr;

          text-decoration: none;
          font-weight: 400;
          font-size: 18px;
          letter-spacing: 0.02em;
          color: #596059;
          transition: ease-in-out all 0.3s;

          @include _1024 {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
          }

          @include _480 {
            flex-direction: row;
          }

          &:hover {
            background: linear-gradient(178deg, $color 0%, #dae888 100%);
            transition: ease-in-out all 0.3s;
            color: $white;

            img {
              transition: ease-in-out all 0.3s;
              filter: brightness(0) invert(1) sepia(1) hue-rotate(180deg);
            }
          }

          span {
            @include _1024 {
              display: none;
            }

            @include _480 {
              display: block;
            }
          }
        }

        img {
          transition: filter 0.3s;
        }

      }
    }
  }

  .exit_box {
    display: flex;
    justify-content: space-between;
    position: relative;

    .icon_btn {
      border-color: #ffffff00;
      background-color: #ffffff00;


      &:hover {
        .alertcrm {
          border-radius: $borderRadius;
          color: #a7a7a7;
          display: inline-block;
          background-color: #46c47a;
          padding: 0.3rem;
          color: $white;
        }
      }

      .alertcrm {
        top: 0;
        left: 20%;
        position: absolute;
        display: none;
      }
    }
  }

}

.sidebar_activ_mob {
  display: grid;
  align-content: space-between;
  position: absolute;
  background-color: $white;
  z-index: 2;
  left: 0;
  top: 0;
  padding: 2rem;
  height: 100vh;
  width: 100vw;
  border-radius: 0;
}

.activeSidebar {
  transform: translateX(0);
  max-width: 100px !important;

  .logo_box {
    display: flex;
    justify-content: center;

    .logo_img_mob {
      display: block;
    }

    .logo_img {
      display: none;
    }
  }

  .btn_menu {
    left: 85%;

    .icon-container:hover {
      rotate: 180deg;
    }
  }

  .menu {
    ul {
      li {
        a {
          display: flex;
          justify-content: center;

          span {
            display: none;
          }

        }
      }
    }
  }

  .exit_box {
    flex-wrap: wrap;

    .icon_btn:hover {
      filter: invert(59%) sepia(44%) saturate(730%) hue-rotate(101deg) brightness(93%) contrast(85%);

      .alertcrm {
        display: none;
      }
    }
  }
}

//end sidebar





.main {
  flex: 1;
  border-radius: 0 0 30px 30px;
  overflow-x: hidden;
  overflow-y: scroll;

  .header_info {
    position: fixed;
    display: flex;
    gap: 1rem;
    align-items: center;
    background: #e6ece538;
    backdrop-filter: blur(8px);
    width: 100%;

    @include _1024 {
      position: sticky;
      top: 0;
    }

    @include _480 {
      position: relative;
    }

    .text {
      font-style: italic;
      font-weight: 400;
      font-size: 18px;
      letter-spacing: 0.03em;
      text-align: center;
      color: #596059;
    }
  }

  .container_crm {
    margin-top: 4rem;
    border-radius: $borderRadius;
    // height: 87vh;
    // overflow-y: auto;
    // scrollbar-width: none;
    // -ms-overflow-style: none;

    @include _1024 {
      margin-top: 1rem;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    // @include _480 {
    //   margin-bottom: 1rem;
    //   height: 100%;
    //   overflow-y: unset;
    //   scrollbar-width: auto;
    // }
  }
}

//end main

.header_mob {
  display: none;
  background-color: $white;
  padding: .7rem .5rem;

  justify-content: space-between;

  border-radius: 28px;
  fill: #fff;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
  margin: 0 auto;
  max-width: 96%;
  margin-top: 1rem;

  @include _480 {
    display: flex;
    position: sticky;
    top: 1%;
    z-index: 9999;
  }
}



.footer_mob {
  display: none;
  background-color: $white;
  padding: 1rem 2rem;
  position: fixed;
  bottom: 0;
  z-index: 4;
  width: 100%;
  stroke: rgba(205, 205, 205, 0.43);
  box-shadow: 0 -2px 7px 0 rgba(0, 0, 0, 0.2);

  @include _480 {
    display: block;
  }


  .footer_mob_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;

    li {
      &::marker {
        content: '';
      }

      a {
        text-decoration: none;

        img {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
}





///object-item
.object_box_filter {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1rem;
}

.object_box_filter-item {
  flex: 1 0 32.333%;
  min-width: 250px;
  background-color: $white;
  border-radius: $borderRadius;
  padding: 1rem;
  position: relative;
  min-height: 200px;

  .object_box_filter-item-footer {
    position: absolute;
    bottom: 0;
  }

  .bg_numer_obj {
    position: absolute;
    right: 0;
    bottom: 0;
    // background: url('../../accets/img/bg-objects-users.png') no-repeat;
    // background-size: cover;

    p {
      font-weight: 600;
      font-size: 32px;
      letter-spacing: 0.02em;
      color: $white;
      padding: .5rem;
      margin-bottom: 0;
      background: linear-gradient(359deg, #daea8f 5.38%, #2b7 42.62%, #2b7 78.74%, #daea8f 100%);
      border-radius: 100% 0 0 0;
      padding-top: 30px;
      padding-left: 30px;
    }
  }
}

.form-select {
  border-radius: $borderRadius;
}

.select {
  padding: .5rem;
  color: $white;
  border-radius: $borderRadius;
  background: linear-gradient(178deg, #2b7 0%, #dae888 100%);
  box-shadow: rgba(157, 238, 201, 0.405) -2px 3px 12px -3px;

  .form-select {
    background: $white;
  }
}



.objects {
  display: flex;
  grid-gap: 20px;
  justify-content: space-between;

  &-item {
    width: 100%;
    padding: 1rem;
    border-radius: $borderRadius;
    background-color: $white;

    &_header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 13px;

      button {
        border: 0;
        background-color: #00000000;
      }
    }

    &_body {
      p {
        display: flex;
        margin-bottom: 6px;
        align-items: center;
      }

      .location {
        margin-bottom: 2rem;
      }
    }

    &_footer {
      display: flex;
      justify-content: space-between;
    }
  }
}